body {
  background-color: #301671;
  }
h1 {
  color: white;
  font-family: Georgia;
  text-align: center;
  text-shadow: 0 0 10px white;
  }
h2 {
  color: white;
  font-family: Georgia;
  text-align: center;
  text-shadow: 0 0 10px white;
  }
h3 {
  color: white;
  font-family: Verdana;
  text-align: left;
  }
p {
  color: white;
  font-family: Times New Roman;
  text-align: left;
  }
div {
  width: 1100px;
  height: 600px;
  padding: 10px;
  border: 3px solid gray;
  margin: 0;
  background-color: #725491;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #e1b7f7;
  }
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  }
ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  background-color: #301671;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {background-color: #ab75d3; border-radius: 30px;}
