body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background: radial-gradient(circle at top, #0e2a47, #05081a);
    color: #eaf6ff;
}

nav {
    text-align: center;
    padding: 25px 0;
    background: linear-gradient(to right, #02051a, #061c3a, #02051a);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: #eaf6ff;
    text-decoration: none;
    margin: 0 30px;
    font-size: 20px;
    text-shadow: 0 0 10px #7fd9ff;
}

nav a:hover {
    color: white;
    text-shadow: 0 0 20px #9ee7ff;
}


.glow-title {
    text-align: center;
    font-size: 60px;
    margin: 40px 0 10px;
    text-shadow: 0 0 25px #9ee7ff;
}

.subtitle {
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 15px #7fd9ff;
}


.section {
    width: 75%;
    margin: 60px auto;
    padding: 40px;
    background: rgba(6, 22, 50, 0.9);
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(127,217,255,0.4);
}


.story-btn {
    background: #0a3b63;
    color: white;
    border: none;
    width: 100%;
    padding: 18px;
    margin: 20px 0;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    box-shadow: 0 0 20px #4fbaff;
}

.story-btn:hover {
    background: #0d4f85;
}


.story-text {
    display: none;
    font-size: 18px;
    line-height: 1.6;
}


.profile p {
    font-size: 22px;
    margin: 15px 0;
}
